/result
/source
*.elc
/.eldev
/.cache/vale/*
!/.cache/vale/config/
/.cache/vale/config/*
!/.cache/vale/config/vocabularies/
/.cache/vale/config/vocabularies/*
!/.cache/vale/config/vocabularies/epresent/
!/.cache/vale/Vocab/
/.cache/vale/Vocab/*
!/.cache/vale/Vocab/epresent/
/.local/state/project-manager/
/.local/state/nix/profiles/
/.cache/direnv/
